*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Utility */
.d-flex{
    display: flex;
}

.just-center{
    justify-content: center;
}

.show-col{
    flex-direction: column;
}

.al-items-top{
    align-items: flex-start;
}

.al-items-center{
    align-items: center;
}

.txt-align-center{
    text-align: center;
}

.bg-dark-grey{
    background-color: rgb(59, 59, 59);
}

.content{
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 0px auto;
    display: flex;
    max-width: 1200px;
    padding: 20px 0;
}

.just-flex-end{
    justify-content: flex-end;
}

.just-flex-start{
    justify-content: flex-start;    
}

.txt-align-left{
    text-align: left;
}

.just-sb{
    justify-content: space-between;
}

.my-20{
    margin: 20px auto;
}

/* Fine utility */

/* Header */
header{
    background-color: #255EE9;
}

button{
    border-radius: 30px;
    padding: 8px 15px;
    border: none;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    padding: 0 20px;
    color: white;
}

.side-col{
    width: 20%;
}

.middle-col{
    justify-content: center;
    width: 60%;
}
/* Fine header */

/* Jumbo */

#jumbotron{
    background-image: url(../img/jumbo.png);
    padding: 40px 0;
    background-size: cover;
    height: 500px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.container-sm{
    max-width: 50%;
    margin: 0 auto;
}

.butt-main{
    margin: 0 15px;
    font-size: 20px;
    padding: 10px 20px;
}

.title{
    margin: 10px 0;
}

.txt-color-white{
    color: white;
}
/* Fine jumbo */

/* Prima immagine */

.f-size-28{
    font-size: 28px;
}

.pt-20{
    padding-top: 25px;
    padding-bottom: 17px;
}

.small-col{
    width: 30%;
}

.big-col{
    width: 65%;
}

.h-100{
    height: 100%;
}

.lh-25{
    line-height: 25px;
    font-size: 15px;
}

/* Prima immagine fine */

/* Seconda immagine */

.reverse-row{
    flex-direction: row-reverse;
}










.main-col{
    width: 100%;
}

.min-h-600{
    min-height: 600px;
}

.sp{
    justify-content: space-between;
}



.border-black{
    border: 2px dashed black;
}

.border-white{
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}


.bg-cheddar{
    background-color: rgb(255, 196, 0);
}

.bg-navy{
    background-color: navy;
}

.bg-pink{
    background-color: pink;
}

.bg-blue{
    background-color: rgb(0, 110, 255);
}

.bg-grey{
    background-color: rgb(197, 197, 197);
}

.bg-green{
    background-color: green;
}

.bg-light-blue{
    background-color: lightblue;
}


/* Rettangolo blu rettangolo rosa */




.py-40{
    padding: 40px 0;
}

/* Rettangolo rosa rettangolo blu */


/* Rettangolo verde */
.min-h-800{
    min-height: 800px;
}

/* Footer */
.end{
    margin-top: 20px;
}



.left-col{
    width: 600px;
}

.row{
    flex-direction: row;
}

.other-col{
    width: 300px;
}

.foot{
    margin: 0px auto;
    display: flex;
    max-width: 1200px;
}